.table {
  width: 100%;
  border-collapse: collapse;
}

.th {
  height: 60px;
  margin: 8px;
  text-align: left;
  background-color: #004896;
  color: white;
  font-size: 25px;
  font-weight: 100;
}

.title {
  padding-left: 20px;
  width: 70%;
}

.create {
  width: 16%;
  text-align: center;
}

.thFirst {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.thLast {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
