.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.button {
  position: relative;
  border: none;
  border-radius: 10px;
  background: #004896;
  color: #ffffff;
  margin-bottom: 42px;
  width: 11vw;
  height: 6vh;
  text-decoration-line: none;
  font-size: 2vmin;
  cursor: pointer;
}
