.title {
  width: 387px;
  height: 55px;
  left: 88px;
  top: 148px;

  font-family: "SUIT-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;

  margin-bottom: 20px;

  color: #004896;
}
